#addAnAdventureHeader{
    padding-top: 10px;
    padding-bottom: 10px;
}

#addAnAdventureForm{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 40px;
    border-color: black;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

input{
    font-size: large;
}

label{
    font-size: larger;
}