nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
  }
  
.nav {
    float: left;
  }
  
.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.nav:hover {
    background-color: #111;
  }

.active {
  background-color: #111;
}